@tailwind base;
@tailwind components;

html {
  overflow-y: overlay;
  cursor: default;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #ffffff08 0.5px, transparent 1px),
    linear-gradient(to bottom, #ffffff08 0.5px, transparent 1px);
}

.grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.stroke {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-shadow {
  text-shadow: 5px 1px 10px #00000005;
}

@tailwind utilities;
